
# read data from CSV
pandas==2.3.3

# scrapping tools
beautifulsoup4==4.14.3
selenium==4.39.0
unstructured==0.18.21
langchain-community==0.4.1

# openai:
openai==2.13.0

# other:
python-dotenv==1.2.1